<h1 align="center">Articles</h1>
<p>
  <%= link_to "Create new article", new_article_path %>
</p>
<div align="center">
  <%= will_paginate %>
</div>
<%= render 'article', obj: @articles %>
<div align="center">
  <%= will_paginate %>
</div>
