<div class="center jumbotron">
  <h1 style="color: white;">ALPHA BLOG</h1>
  <% unless logged_in? %>
    <%= link_to "Sign up now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
  <% end %>
</div>
